header{
    margin-bottom: 2%;
}

header img{
    width: 7%;
    margin-top: 1%;
}

header h1{
    display: inline;
    vertical-align: super;
    margin-left: -1%;
}

main{
    display: flex;
}

.inputTexto{
    text-align: center;
    width: 425px;
    height: 380px;
    margin-left: 30px;
}

main p{
    width: 461.48px;
    height: 20px;
    word-wrap: break-word;
    text-align: center;
}

.mensaje{
    text-align: center;
    width: 425px;
    height: 380px;
    margin-left: 30px;
    background-image: url(./Imagenes/Muñeco.png);
}


.botones{
    text-align: center;
    margin-top: 10px;
}

.copiar{
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-left: 230px;
}

footer{
    margin-top: 3%;
    text-align: center;
}

footer a{
    text-decoration: none;
}

.links{
    margin-top: 1%;
    width: 3%;
    height: 3%;
}